server:
    port: 8083

spring:
    sql.init.mode: always
    datasource:
        url: jdbc:postgresql://localhost:5432/
        username: postgres
        password: pgadmin5
        driver-class-name: org.postgresql.Driver
    jpa:
        defer-datasource-initialization: true
        hibernate:
            ddl-auto: create-drop
        show-sql: true

eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/

management:
    tracing:
        sampling:
            probability: 1.0
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        health:
            show-details: always
    info:
        env:
            enabled: true
